@model List<GithubExplorer.Models.Repository>
@{ List<GithubExplorer.Models.Repository> favorites = (List<GithubExplorer.Models.Repository>)Session["favorites"];}

@if (Model.Count == 0)
{
    <div class="container mt-15">
        <div class="row text-center">
            <div class="col-10 m-auto">
                <i>There are no repositories to display</i>
            </div>
        </div>
    </div>
}
<div class="row text-center">
    @if (Model.Count > 0 && Model != null)
    {
        foreach (GithubExplorer.Models.Repository item in Model)
        {
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="card mt-15">
                    <img src="@item.owner.avatar_url" class="card-img-top">
                    <p class="card-text d-inline">
                        @item.name <br>
                        by: @item.owner.login
                    </p>
                    @Html.ActionLink("Add to Favorites",
                   "Favorites",
                   "Repository",
                   new { jsonItem = Json.Encode(item) },
                   new { @class = "btn btn-primary form-control mt-5" });
                </div>
            </div>
        }
    }
</div>
