@model Dictionary<int,GithubExplorer.Models.Repository>
@{
    ViewBag.Title = "Repositories";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container search-bar mt-15">
    <div class="row text-center">
        <div class="col-12">
            @using (Html.BeginForm())
            {
                <input name="query" type="text" class="form-control d-inline" placeholder="Search Repository...">
                <button class="btn btn-primary d-inline" type="submit">Search</button>
            }
        </div>
    </div>
</div>

@{ Html.RenderPartial("Gallery", Model); }
