@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron mt-30">
    <h1>GitHub Explorer</h1>
    <p class="lead">
        GitHub Explorer is a simple GitHub Repository search tool<br />
        Come close to the open-source
    </p>
    <p><a href="@Url.Action("Index","Repository")" class="btn btn-primary btn-lg mt-15">Start now &raquo;</a></p>
</div>
